<div class="flex">
  <h6
    class="text-base font-bold leading-tight tracking-tight text-gray-900 md:text-lg"
  >
    <%= headingTitle %>
  </h6>
  &nbsp; &nbsp; &nbsp;
  <span id="<%=countName %>" class="ml-2 text-sm px-2 py-1 bg-gray-200"
    ><%=data.length %></span
  >
  &nbsp; &nbsp; &nbsp;
  <a
    href="/edit-election/<%=electionId %>/add-question"
    class="w-1/2 text-blue bg-teal-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-aqua-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
  >
    Add New Question
  </a>
</div>
<div class="max-w-md mx-auto">
  <% for (let i = 0; i < data.length; i++) { %>
  <div class="my-4">
    <p class="text-md font-medium py-2"><%= i+1 %>) <%= data[i].question.qsText %> &nbsp; &nbsp; &nbsp;
      <a
      href="/edit-question/<%=data[i].question.id %>/add-option"
      class="w-1/5 text-sm bg-teal-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-aqua-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      Update
    </a>
    &nbsp; &nbsp; &nbsp;
    <a
    href="#"
      class="w-1/5 text-sm bg-teal-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-aqua-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      Delete
  </a></p>
    <% for (let option of data[i].options) { %>
      <input
        type="radio"
        id="<%= option.id %>"
        name="<%= data[i].question.id %>"
        value="<%= option.id %>"
        class="mr-2 text-sm text-gray-500"> <%= option.optText %>  </input>
    <% } %>
  </div>
  <% } %>
</div>
